<%# app/views/shared/_list.html.erb %>
<div id="filterrific_results">

 <!-- <div>
    <%# page_entries_info items # provided by will_paginate %>
  </div> -->

  <table>
    <tr>
      <th>Name</th>
      <th>Available Qty</th>
      <th>Category</th>
      <% if params[:id] %>
        <th>Action</th>
      <%end%>

    </tr>
    <% items.each do |item| %>
      <tr>
        <td><%= link_to(item.name, item_path(item)) %></td>
        <td><%= item.available_quantity %></td>
        <td><%= item.category.name %></td>
        <% if params[:id] %>
          <td>check out</td>
        <%end%>
      </tr>
    <% end %>
  </table>
</div>

<%# will_paginate items # provided by will_paginate %>